//Simonetta
@import url('https://fonts.googleapis.com/css?family=Simonetta');

//Oswald
@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');

body {
	background: #f9f9f9;
	font-family: 'Simonetta', cursive !important;
}

.brown-title{
	color: $brand-color-1 !important;
}

.block {
	&-wrapper {
		margin-bottom: $margin-standard;
		padding-left: $margin-standard !important;
		padding-right: $margin-standard !important;
		padding-bottom: 45px !important;
	}
}

.btn {
	&-special {
		background-color: #FFF;
		border-right: solid 7px $secundary-color;
		float: right;
		transform: skew(-40deg);
		-webkit-transform: skew(-40deg);
		   -moz-transform: skew(-40deg);
		     -o-transform: skew(-40deg);
		color: $primary-color;
		padding: 10px 30px;
		position: relative;
		&-text {
			display: block;
			transform: skew(40deg);
			-webkit-transform: skew(40deg) !important;
			   -moz-transform: skew(40deg) !important;
			     -o-transform: skew(40deg) !important;
		}
	}
}

.title {
	color: $secundary-color;
	font-family: 'Oswald', sans-serif !important;
	font-weight: 700;
	border-bottom: solid 1px $light-gray;
	padding-bottom: $margin-standard;
}

.u {
	&-wrapper {
		background-color: #FFF;
		box-sizing: border-box;
		padding: 45px 0 0;
	}
	&-row-wrapper {
		margin: 0 auto;
		max-width: 1024px;
		width: 100%;
	}
	&-post-content-wrapper {
		border-bottom: solid 1px $light-gray;
		padding-bottom: 30px;
	}
}

.white-overlay{
	background-color: rgba($color: #FFF, $alpha: 0.35);
	height: 100%;
	padding: 30px 0;
	width: 100%;	
}
