.Footer {
	background: url("#{$img-path}/wood-footer.png") no-repeat center center;
	background-size: cover;

	&-info{		
		color: white;
		font-size: 12px;	
		margin-bottom: 0px;	

		&:first-child{
			margin-bottom: 16px;
		}
	}

	&-wrapper{
		align-items: center;
		display: flex;
		flex-direction: column;
		height: 100%;		
		justify-content: center;
		padding: 20px 10px;
		width: 100%;
	}

	&-logo{		
		margin-bottom: 16px;		
		max-width: 315px;
		width: 100%;		

		img{
			width: 100%;
		}

	}

	&-column{
		align-items: center;
		display: flex;
		flex-direction: column;			
		justify-content: center;		
	}

	&-social{
		margin: 15px 0px;
		text-align: center;
	}

	&-facebook{
		color: $brand-color-1;
		display: inline-block;		

		&:hover{			
			border-radius: 5px;
			color: $brand-color-2;
		}

		i{
			font-size: 48px;
			height: 52px;
			width: 52px;
		}
	}
}

@include media-breakpoint-up(md) {
	.Footer{
		height: 430px;

		&-logo{
			margin-left: auto;
		}

		&-column{
			padding: 0px 30px;

			&:first-child{
				border-right: 3px solid $white;
			}
		}
	}
}