.Header {	
	//background: url("#{$img-path}/header-coffeeshop.jpg") center center / cover no-repeat;			

	// &-logo {
	// 	display: block;		
	// }
	position: absolute;
	top: 0;
	width: 100%;
	&.non-position {
		position: unset;
	}
	&-wrapper {		
		//height: 720px;			
		position: relative;
	}

	&-border{
		border-bottom: 10px solid $brand-color-1;
		padding: 20px 0px;
	}

	&-plate{
		background: url("#{$img-path}/wood-header.jpg") center center / cover no-repeat;		
		margin-left: auto;
		height: 200px;
		max-width: 660px;
		width: 100%;
	}

	&-plateContent{
		align-items: center;
		display: flex;
		flex-direction: column;
		height: 100%;
		justify-content: center;
		position: relative;
		width: 100%;
	}

	&-plateScrew{
		background: url("#{$img-path}/screw.png") center center / cover no-repeat;		
		height: 21px;
		position: absolute;
		width: 21px;		
	}

	&-plateScrew.top-left{
		top: 10px;
		left: 16px;
	}

	&-plateScrew.top-right{
		top: 10px;
		right: 16px;
	}

	&-plateScrew.bot-left{
		bottom: 10px;
		left: 16px;
	}

	&-plateScrew.bot-right{
		bottom: 10px;
		right: 16px;
	}

	&-plateTitle{
		color: $brand-color-1;
		font-size: 36px;
		font-weight: 700;
		margin-bottom: 0px;
		max-width: 440px;
		text-align: center;	
		
		span{
			display: inline-block;
			font-size: 48px;
		}
	}

	//Hamburger-button related styles:
	&-hamburgerLabel{
		float: right;
		font-size: 24px;
		height: 52px;        
		line-height: 52px;
		margin-bottom: 0;
		padding: 0px 15px;
	}   

	@include media-breakpoint-up(md) {
		&-hamburgerLabel{
			display: none;
		}
	}

	&-hamburgerCheck{
		display: none;
	}

	&-hamburgerCheck:checked ~ .MainMenu {  
		height: 125px;
		margin: 15px 0px;
		padding-top: 1rem;
	}
}
 
.MainMenu {
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;

	&-container {
		margin-bottom: 0px;
		padding: 0;
		text-align: right;
	}
	&-option {
		display: inline-block;
		font-family: $font-family-sans-serif;
		margin-left: 50px;
	}	

	&-link {
		color: $brand-color-1;
		font-weight: normal;
		font-size: 18px;
	}
}

.MobileMenu{
	display: none;
	height: 0px;
	overflow: hidden;
	transition: all .5s ease-out;
}

@include media-breakpoint-down(sm) {
	.MobileMenu{
		display: block;	

		&-option{	
			display: block;		
			margin: 5px 0px;
			text-align: center;
		}
	}		
}