.bgCover {
	align-items: center;
	background-color: rgba(0, 0, 0, 0.55);
	display: flex;
	height: 100%;
	min-height: 675px;
	width: 100%;
	&::after {
		background: url("#{$img-path}/half-tringle-inverted.png");
		content: "";
	    height: 42px;
	    position: absolute;
	    left: 76%;
	    bottom: 0px;
	    width: 42px;	
	}
	&::before {
		background: $primary-color;
	    bottom: 0;
		content: "";
	    height: 42px;
	    position: absolute;
	    left: 0;
	    width: 76%;
	}
}

@media (min-width: 1920px) {
	.bgCover {
		&::after {
			left: 65.65%;
		}
		&::before {
			width: 65.65%;
		}
	}
}

.Content-container {
	margin-top: 30px;
	margin-bottom: 30px;
}

.MainSection {
	min-height: 720px;
	width: 100%;
	.container {
		display: flex;
		align-items: end;
		flex-direction: column;
		justify-content: flex-end;
		height: 720px;

	}
	&-author, &-date {
		color: #FFF;
		display: inline-block;
	}
	&-date {
		margin-right: 20px;
	}
	&-credits {
		text-align: center;
	}
	&-title {
		border-bottom: solid 3px $secundary-color;
		color: #FFF;
		font-size: 4.5rem;
		padding-bottom: 40px;
		text-align: center;
	}
	&-btn {
		&-item {
			
		}
		&-wrapper {
			bottom: 20px;
			position: absolute;
    		transform: translate(0, -50%); /* This is a shorthand of translateX(-50%) and translateY(-50%) */
		}
	}
}