
.Post {
	margin-bottom: $margin-standard;
	&-author, &-date {
		color: $brand-color-2;
		display: inline-block;
	}
	&-bodyContent {
		padding: 0 $margin-standard;
		text-align: justify;
		img {
			max-width: 100%;
		}
	}
	&-date {
		margin-left: $margin-standard;
	}
	&-footer {
		padding: $margin-standard;
	}
	&-info {
		padding: 0 $margin-standard;
	}
	&-link {
		color: $font-color;
		font-weight: 700;
		&:hover {
			color: $secundary-color;
			text-decoration: none;
		}
	}
	&-social {
		text-align: left;
		&-item {
			display: inline-block;
			margin-right: $margin-standard;
			border-radius: 5px;

			a{
				color: $brand-color-1;
			}

			a:hover{
				color: $brand-color-2;				
			}
		}
	}
	&-title {
		color: $post-title-color;
		font-family: 'Oswald', sans-serif !important;
		font-weight: 700;
		padding: 0 $margin-standard;
		a {
			color: $brand-color-1;
		}
	}
	&.u-wrapper {
		padding-top: 0;
	}
}